.Input {
  display: block;
  max-width: 500px;
  margin: 0 auto 1em auto;

  label {
    display: block;
    text-align: left;
    font-weight: 600;
  }

  .InputElement {
    display: block;
    width: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0.5em 0;
    padding: 6px;
    font-family: inherit;
    border: 0;
    border-bottom: 4px solid #ccc;
    transition: border-bottom-color .3s ease-in;

    &:focus {
      border-bottom: 4px solid #6f388d;
      outline: none;
    }
  }
}
