.Dashboard {
  max-width: 1024px;
  margin: 0 auto;
}

.CardContainer {
  white-space: nowrap;
  overflow: auto;
}

.Card {
  display: inline-block;
  margin-left: 8px;

  .ant-card-body {
    padding: 18px 4px;
  }

  .ant-list-item {
    &:hover {
      box-shadow: 1px 1px 6px;
      transition: box-shadow 0.1s ease-in;
    }
  }
}

.QuickSearchContainer {
  text-align: left;
  max-height: 400px;
  height: 100%;
  padding: 0 16px;
  overflow: auto;

  & > div {
    overflow: auto;
    max-height: 350px;
  }
}

.HighlightedContainer {
  border: 1px dashed #9c27b0;
  padding: 0 16px;
  box-shadow: 1px 1px 10px #9c27b0;
  overflow: auto;
  max-height: 400px;
}
