.Dashboard {
  max-width: 1024px;
  margin: 0 auto;
}

.CardContainer {
  white-space: nowrap;
  overflow: auto;
}

.Card {
  display: inline-block;
  margin-left: 8px;

  .ant-card-body {
    padding: 18px 4px;
  }
}
