.Content {
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  background: linear-gradient(0deg, #aae5ff82, transparent);
  padding-top: 80px;

  & > section {
    text-align: center;
  }
}

.Logo {
  height: 70px;
  box-sizing: border-box;
  margin: 0 auto;
  flex: auto;
  text-align: center;
  cursor: default;
  position: relative;
  display: inline-block;

  img {
    height: 100%;
    max-height: 55px;
    position: absolute;
    left: -55px;
    top: 0;
    transition: all 0.2s ease-out;
  }

  h1 {
    color: rgba(222, 234, 224, 1);
    text-shadow: 2px 2px 5px #e714f5;
    font-size: 24px;
    font-family: "Pacifico", cursive;
  }

  &:hover {
    img {
      left: 100%;
    }
  }
}

.Header {
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.Sider {
  position: fixed;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  z-index: 1;
}

.Trigger {
  display: block;
  position: fixed;
  top: 20px;
  left: 24px;
  z-index: 2;
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: white;
}
