.NoPadding {
  padding: 0 !important;
}
.GridContainer {
  display: grid;
  grid-template-columns: auto 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 26px;
  align-content: space-between;
  grid-gap: 2px;
  max-width: 800px;
  margin: 0 auto 1rem auto;
  overflow: auto;

  &.smOptimized {
    grid-template-columns: auto 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 24px;
    align-content: space-between;
    grid-gap: 1px;
  }

  a {
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: rgba(246, 247, 249, 0.75);
  }

  .GridHeader {
    font-size: 1.1em;
    overflow: hidden;
  }

  .FullWidth {
    grid-column: 1 / 14;
    text-align: center;
    font-size: 1.1em;
    color: floralwhite;
  }
}
