.PlantImage {
  width: 100%;
  height: 180px;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.Title {
  margin-top: -40px;
  text-shadow: 1px 1px 12px whitesmoke;
}

.SeasonBox {
  position: absolute;

  right: calc(100% - 21px);
  transition: all 0.3s ease-in;
  min-width: 100px;

  &:hover {
    right: calc(100% - 100px);
    cursor: default;
    background: linear-gradient(
      -90deg,
      rgba(#aae5ff82, 0.85),
      rgba(#aae5ff82, 0.25)
    );
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    .cyan {
      background-color: cyan;
    }
    .green {
      background-color: green;
    }
    .red {
      background-color: red;
    }
    .gold {
      background-color: gold;
    }
  }
}
