.TableRow {
  display: contents;

  &:hover > div {
    background: rgba(64, 228, 10, .35);
  }
}

.Grid {
  background: #79c23c;
  color: #79c23c;
  padding: 1px;
  cursor: default;
  transition: all .2s ease-out;
  text-align: center;

  &:hover {
    background: #61972f;
    color: #79c23c;
  }

  &:empty {
    background: transparent;
  }
}
